html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Perpetua;
  src: url('./fonts/perpetua.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Perpetua;
  src: url('./fonts/perpetua-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Perpetua;
  src: url('./fonts/perpetua-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Trajan;
  src: url('./fonts/TrajanPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Trajan;
  src: url('./fonts/TrajanPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

#app {
  font-family: Perpetua, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #F2F2EE;
  color: #424242;
  padding: 2rem;
  min-height: 100vh;
}

hr {
  border: none;
  max-width: 70%;
  background-color: #CFCFCF;
  height: 1px;
  margin: 1rem auto;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: Trajan, serif;
}
